<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002076727023-9g33fvr5vkrh7pqkim1j4i1i2lq2kura.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002076727023-9g33fvr5vkrh7pqkim1j4i1i2lq2kura</string>
	<key>API_KEY</key>
	<string>AIzaSyANrGFDUigTy2PIj3umVgvbWpbidIeQNww</string>
	<key>GCM_SENDER_ID</key>
	<string>1002076727023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWidgets</string>
	<key>PROJECT_ID</key>
	<string>signindemo-62b5e</string>
	<key>STORAGE_BUCKET</key>
	<string>signindemo-62b5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002076727023:ios:33ec659b06052c34371d1a</string>
</dict>
</plist>